.correlationTable {
  table-layout: fixed;
  font-size: 14px;

  td {
    text-align: center;
  }

  > thead > tr > td,
  > tbody > tr > td {
    padding: 0;
    border-top: none;
    vertical-align: middle;
  }

  .correlation {
    cursor: pointer;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .rotate {
     /* Safari */
     -webkit-transform: rotate(-90deg);
     /* Firefox */
     -moz-transform: rotate(-90deg);
     /* IE */
     -ms-transform: rotate(-90deg);
     /* Opera */
     -o-transform: rotate(-90deg);
     /* Internet Explorer */
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   }
}

