.correlationTable {
  td {
    text-align: center;
  }
  > tbody > tr > td {
    border-top: none;
    vertical-align: middle;
    width: 90px;
    height: 90px;
  }
  .correlation {
    cursor: pointer;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}

