<div class="row">
    <div class="col-md-7">
        <table id="correlation" ng-table="tableParams" class="table correlationTable" data-ng-controller="correlationCtrl">
            <thead>
            <tr>
                <td ng-style="corCol"></td>
                <td ng-style="corCol" ng-repeat="feature in traits">{{feature}}</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in $data" ng-style="corRow">
                <td>
                    {{row.trait}}
                </td>
                <td ng-repeat="feature in traits" class="correlation"
                    id="corr-{{row.trait}}-{{feature}}"
                    ng-click="updateHexbin(row.trait, feature)"
                    bgcolor="{{color(row, feature)}}">
                    <span ng-if="feature !== row.trait">{{format(row[feature])}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-5" data-ng-controller="hexbinCtrl">
        <div class="col-md-6">
            <label for="binSize">Hexbin Size</label>
            <input id="binSize" type="text"
                   data-slider-min="1" data-slider-max="100" data-slider-step="1" data-ng-init="initSlider()"/>
        </div>
        <div id="legend" class="col-md-6" data-ng-init="initLegend()">
            <b>Legend</b>
        </div>
        <div id="hexbin" class="col-md-12" data-ng-init="initHexbin()">
        </div>
    </div>
</div>